.tree
{
    border: 1px solid black;
    overflow: auto;
    width: auto;
    float: left;
}

.tree .label
{
    float: left;
    width: 300px;
}

.tree .branches
{
    float: left;
    clear: left;
    width: auto;
}
}
